/*
wood brown: A89F68;
army green: 41521F;
*/

* {
    font-family: 'Lato';
}

.navbar-default {
    /*background-color: red;*/
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.img-home {
    background-image: url(../img/portada.jpg);
    /* Utilizará el 100% del alto de la pantalla */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* Color de la navbar */

.navbar-default .navbar-brand {
    text-shadow: 1px 1px 1px #aaa;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
    text-shadow: 1px 1px 1px #aaa;
    color: #FFFFFF;
}

.text-home {
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 190px;
}

.btn {
    margin-top: 10px;
    background-color: #41521f;
}


/* Sección 2 */

.img-3 {
    margin-top: 60px;
    margin-bottom: 100px;
}

.info-section-dos {
    margin-top: 150px;
}

.title-info-section-dos,
.see-more,
.color-mostaza {
    color: #a69c67;
}


/* Sección 3 */

.section-tres {
    background-color: #a69c67;
}

.info-section-tres {
    margin-top: 60px;
}

.title-section-tres {
    color: #41521f;
}

.text-section-tres {
    color: white;
}

.panda-tres {
    text-align: center;
    margin-bottom: 80px;
    border: 7px solid white;
}


/* Sección 4 */

.img-all {
    background-image: url(../img/all.jpg);
    /* Utilizará el 100% del alto de la pantalla */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-img-all {
    color: white;
}

.text-section-cuatro {
    margin-top: 50px;
}


/* seccion 5 */

.title-section-cinco {
    margin-top: 100px;
    text-align: center;
    color: #a69c67;
}

.container-icon {
    color: #a69c67;
    text-align: center;
    margin-top: 50px;
}

.text-section-cinco {
    margin-top: 10px;
    color: #a69c67;
}

.section-cinco {
    margin-bottom: 100px;
}


/* seccion 6 */

.section-seis {
    background-color: #a69c67;
}

.title-section-seis {
    color: #41521f;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.content-section-seis {
    text-align: center;
}

.money {
    font-size: 100px;
}

.white-content {
    color: white;
}

.bottom-seis {
    margin-bottom: 100px;
}


/* section 7 */

.section-siete {
    background-color: #41521f;
    /*margin-bottom: 100px;*/
}

.top-siete {
    margin-top: 80px;
}

.col-lg-2 p {
    cursor: pointer;
    margin-top: -7px;
}

.money-symbol {
    margin-bottom: 60px;
    position: absolute;
}

.bottom-80 {
    padding-bottom: 80px;
}